@model Category
@{
	ViewBag.PageTitle = "Category Management";
	ViewBag.CardTitle = "Edit Category";
	Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}




<!-- /.card-header -->
<!-- form start -->
<form method="post">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Category Name" />
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" placeholder="Category Description" />
            <span asp-validation-for="Description" class="text-danger small"></span>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>










@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}